.asd {
  &__wrapper {
    margin-left: -150px;
    border: 0;
    box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 10px;
    top: 78px !important;
    z-index: 99 !important;
  }
  &__month {
    &-name {
      font-size: 1rem;
    }
  }
  &__day {
    border-radius: 10px;
    transition: .3s;
    &--today {
      background-color: map-get($colors, primary);
      font-weight: bold;
      button {
        color: #fff;
      }
      &:hover {
        button {
          color: #333;
        }
      }
    }
    &--enabled {
      border: none !important;
      &:focus {
        outline: none;
      }
    }
    &--hovered {
      border-radius: 0;
    }
    &--selected, &--in-range {
      border: 0 !important;
    }
    > button {
      font-size: .9rem;
      border-radius: 5px;
    }
    &--in-range {
      border-radius: 0;
      > button {

      }
    }
  }
  &__selected-date {
    &-one {
      border-radius: 10px 0 0 10px;;
    }
    &-two {
      border-radius: 0px 10px 10px 0px;;
    }
  }
  &__change-month-button {
    > button {
      border: 0;
      position: relative;
      &:hover {
        border: none;
      }
      svg {
        display: none;
      }
      &::before {
        content: '';
        width: 10px;
        height: 10px;
        border: 2px solid #696969;
        display: block;
        border-top: 0;
        border-right: 0;
        transform: rotate(45deg);
      }
    }
    &--next {
      > button {
        &::before {
          transform: rotate(225deg);
        }
      }
    }
  }
}
