.multiselect {
  $color: rgba(244, 247, 248, 1);
  border-radius: 10px;
  transition: .3s;
  &__tags {
    border: none;
    background-color: $color;
    border-radius: 10px;
    transition: .3s;
  }
  &__single {
    background-color: rgba(244, 247, 248, 1);
    color: #999;
    font-size: .8rem;
    transition: .3s;
  }
  &__input {
    font-size: .8rem;
    color: #999;
  }
  &__option {
    font-size: .7rem;
    &--disabled {
      cursor: not-allowed;
      > span {
        color: #696969;
      }
    }
  }
  &__select {
    &::before {
      border: 1px solid #333;
      border-top: 0;
      border-left: 0;
      height: 8px;
      width: 8px;
      padding: 0;
      display: block;
      transform: rotate(45deg);
      margin: 0;
      top: 8px;
      transition: .3s;
    }
  }
  &__content-wrapper {
    border: none !important;
    box-shadow: 0 -10px 20px -5px rgba(0,0,0, $vs-shadow-opacity);
  }
  &--active {
    box-shadow: 0 -5px 25px -4px rgba(0,0,0, $vs-shadow-opacity)!important;
    transform: translateY(-2px);
    .multiselect {
      &__select {
        transform: none;
        &::before {
          transform: rotate(225deg);
        }
      }
      &__tags {
        background-color: #fff;
      }
      &__single {
        background-color: #fff;
      }
    }
  }
  &:hover {
    box-shadow: 0 -5px 25px -4px rgba(0,0,0, $vs-shadow-opacity)!important;
    transform: translateY(-2px);
    .multiselect {
      &__tags {
        background-color: #fff;
      }
      &__single {
        background-color: #fff;
      }
    }
  }
  &__simple {
    z-index: 10;
    background-color: $color;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 10px;
    appearance: none;
    box-sizing: border-box;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 10px 15px;
    &:hover {
      background-color: #fff;
    }

  }
  &__mobile-wrapper {
    position: relative;
    &:before {
      content: '';
      border: 1px solid #333;
      border-top: 0;
      border-left: 0;
      height: 8px;
      width: 8px;
      padding: 0;
      display: block;
      transform: rotate(45deg);
      margin: 0;
      top: 8px;
      transition: .3s;
      position: absolute;
      z-index: 20;
      right: 25px;
      top: 13px;
    }
  }
}
