.vue__time-picker {
  width: 100%;
  input.display-time {
    border: 0;
    width: 100%;
  }
  .controls {
    .char {
      font-size: 2rem;
      height: 100%;
      line-height: 45px;
    }
  }
}
