.timeline {
  .ui-chat {
    &__message {
      &-user {
        display: none;
      }
      &--receive {
        > span {
          background-color: transparent;
          font-size: .8rem;
          padding: 0;
        }
      }
    }
  }
}
.ui-chat {
  &__options {
    > div {
      padding: 0 5px;
    }
  }
  &__input {
    padding-right: 135px !important;
  }
}
.v-enter-to, .v-leave-to {
  .ui-chat {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
