.vc-popover-content.vc-rounded-lg {
  border-radius: 20px;
  font-family: 'Montserrat Alternates', sans-serif;
  padding: 10px;
  &.vc-border {
    border-width: 0;
    box-shadow: 0 -10px 20px -5px rgba(0,0,0, $vs-shadow-opacity), 0 10px 20px -5px rgba(0,0,0, $vs-shadow-opacity);
  }
  .vc-title {
    text-transform: capitalize;
  }
  .vc-rounded-lg {
    border-radius: 20px;
  }
}
