.vs-alert {
  &--warning {
    background-color: rgba(255,186,0,.09);
    .vs-alert {
      &__title {
        color: #b38200;
      }
      &__content__text {
        color: #cc9500;
      }
    }
    &:after {
      background-color: #ffba00;
    }
  }
}
