.vs-notification {
  min-width: 400px;
  &--undefined {
    background-color: #fff;
    .vs-icon-close:before,
    .vs-icon-close:after {
      background-color: #696969;
    }
  }
  * {
    color: inherit;
  }
  .communication__incoming {
    background-color: #fff;
    color: #333;
  }
}
