.vs-pagination {
  &--white {
    .vs-pagination {
      &__active {
        background-color: #fff;
        color: map-get($colors, primary);
        font-weight: bold;
      }
      &__button,
      &__arrow i {
        color: #696969;
      }
    }
  }
  &--blue {
    .vs-pagination {
      &__active {
        background-color: map-get($colors, primary);
      }
    }
  }
}
