.vs-radio {
  &-content {
    justify-content: left;
    margin-bottom: 5px;
    &.active {
      .vs-radio__effect {
        &:after {
          border: 7px solid $vs-primary;
          box-shadow: 0 3px 12px 0 rgba($vs-primary,.3);
        }
      }
    }
  }
}
