.cb-log {
  height: 500px;
  overflow-y: auto;
  background-color: white;
  padding: 20px;
  border: 1px solid black;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;

  &__l {

  }
}