<template>
  <div>
    <div class="flex">
      <Container class="w-25" :key="selectedBlockchain">
        <vs-select placeholder="Router" v-model="selectedRouter">
          <vs-option
            v-for="router in routerOptions"
            :key="router.value"
            :label="router.name"
            :value="router.value"
          >
            {{router.name}}
          </vs-option>
        </vs-select>
      </Container>
      <Container class="w-25">
        <vs-select placeholder="Blockchain" v-model="selectedBlockchain">
          <vs-option label="Avalanche" value="avalanche">
            Avalanche
          </vs-option>
          <vs-option label="Bsc" value="bsc">
            Bsc
          </vs-option>
          <vs-option label="Fantom" value="fantom">
            Fantom
          </vs-option>
          <vs-option label="Etherium" value="eth">
            Etherium
          </vs-option>
        </vs-select>
      </Container>
    </div>
    <hr>
    <div class="flex">
      <Swaper
        class="w-25"
        title="Comprar"
      />
      <Container class="w-50" direction="row">
        <div class="w-50">
          <span>Monto comprado: ${{ token0Usd }}</span>
        </div>
        <Log class="w-50"/>
      </Container>
      <Swaper
        class="w-25"
        title="Vender"
      />
    </div>
    <hr>
    <div class="flex">
      <Approve class="w-25"/>
      <Pricer class="w-50"/>
      <Container class="w-25">
        <vs-table>
          <template #thead>
            <vs-tr>
              <vs-th>
                Token
              </vs-th>
              <vs-th>
                Address
              </vs-th>
            </vs-tr>
          </template>
          <template #tbody>
            <vs-tr
              :key="i"
              v-for="(token, i) of Object.keys(pairs[selectedBlockchain])"
            >
              <vs-td>
                {{ token }}
              </vs-td>
              <vs-td>
              {{ pairs[selectedBlockchain][token] }}
              </vs-td>
            </vs-tr>
          </template>
        </vs-table>
      </Container>
    </div>
  </div>
</template>

<script>
import {
  ref,
  onBeforeUnmount,
  watch
} from '@vue/composition-api'
import Web3 from 'web3'

import {
  useStore
} from '@/helpers/store.helper'

import Approve from '@/components/Approve'
import Pricer from '@/components/Pricer'
import Log from '@/components/Log'
import Swaper from '@/components/Swaper'
import Container from '@/components/global/Container'

import { pairs } from '@/values/commonPairs.value'
import { rpcs } from '@/values/rpcs.value'

export default {
  name: 'Home',
  components: {
    Approve,
    Log,
    Pricer,
    Swaper,
    Container
  },
  setup () {
    const selectedRouter = ref('pancake')
    const selectedBlockchain = ref('bsc')
    const { setWeb3, setWeb3ForTxn, router, setRouter, setBlockchain, routerOptions } = useStore(
      'Global',
      {
        state: ['router'],
        mutations: ['setWeb3', 'setWeb3ForTxn', 'setWeb3Wss', 'setRouter', 'setBlockchain'],
        getters: ['routerOptions']
      }
    )

    const { token0Usd } = useStore(
      'Swaper',
      {
        getters: ['token0Usd']
      }
    )
    onBeforeUnmount(() => {
      // clearInterval(timer)
    })

    watch(() => selectedRouter.value, (newValue) => {
      setRouter(newValue)
    })

    watch(() => selectedBlockchain.value, (newValue) => {
      setBlockchain(newValue)
      setWeb3(new Web3(rpcs[selectedBlockchain.value].mainnet))
      setWeb3ForTxn(new Web3(rpcs[selectedBlockchain.value].mainnet))
      selectedRouter.value = ''
    })

    return {
      router,
      pairs,
      setRouter,
      selectedRouter,
      token0Usd,
      selectedBlockchain,
      routerOptions
    }
  }
}
</script>
