<template>
  <div>
    <div class="flex">
      <Container class="w-50">
        <vs-input v-model="presaleContractAddress" placeholder="Address Pinksale" />
        <vs-input v-model="buyingBnbAmount" placeholder="BNB to use"/>
        <vs-input v-model="gasLimit" placeholder="Gas" type="number" />
        <vs-input v-model="gasPrice" placeholder="Gwei" />
        <hr>
        <div
          class="flex"
          v-for="(account, index) in accounts"
          :key="index"
        >
          <vs-input
            v-model="accounts[index].privateKey"
            :placeholder="`Private Key ${index+1}`"
          />
          <vs-button
            icon
            @click="addAccount"
          >
            <unicon name="plus" fill="#fff"/>
          </vs-button>
          <vs-button
            icon
            danger
            v-if="index !== 0"
            @click="removeAccount(index)"
          >
            <unicon name="trash-alt" fill="#fff"/>
          </vs-button>
        </div>
        <vs-button
          icon
          success
          @click="start"
        >
          Start!
        </vs-button>
      </Container>
      <Log class="w-50"/>
    </div>
  </div>
</template>

<script>
import {
  ref
} from '@vue/composition-api'

import {
  useStore
} from '@/helpers/store.helper'

import Cronr from 'cronr'

import Container from '@/components/global/Container'
import Log from '@/components/Log'

export default {
  name: 'Pinksale',
  components: {
    Container,
    Log
  },
  setup () {
    const voidAccount = {
      privateKey: '0x5638155a216f4504c90eb44bd514c4041547e1ada6160e8f66d30c610af77e16'
    }
    const accounts = ref([voidAccount])
    const presaleContractAddress = ref('0x35D05b931DadC02D8367010779F2bBB462462B4A')
    const cronTime = '*/100 * * * * * *' // every 10 milliseconds
    const buyingBnbAmount = ref('0.0001')
    const gasLimit = ref(500000)
    const gasPrice = ref('5')

    const { web3, pushLog } = useStore(
      'Global',
      {
        state: ['web3', 'blockchain', 'router'],
        mutations: ['pushLog']
      }
    )

    const addAccount = () => {
      accounts.value.push(voidAccount)
    }

    const removeAccount = (index) => {
      accounts.value.splice(index - 1, 1)
    }

    const start = () => {
      setTimeout(function () {
        let executeBuy = true
        const job = new Cronr(cronTime, () => {
          pushLog({ text: 'Cronjob iteration. The bot is checking if the presale is active.' })
          if (executeBuy) {
            executeBuy = false
            const counter = 0

            const recursiveTransactionsLoop = (counter) => {
              const senderAddress = web3.value.eth.accounts.privateKeyToAccount(accounts.value[counter].privateKey).address

              web3.value.eth.estimateGas({ to: presaleContractAddress.value, from: senderAddress, value: web3.value.utils.toHex(web3.value.utils.toWei(buyingBnbAmount.value, 'ether')) }, (gasEstimateError, gasAmount) => {
                if (!gasEstimateError) {
                  pushLog({ text: 'Transaction estimation successful: ' + gasAmount })

                  const txParams = {
                    gas: web3.value.utils.toHex(parseInt(gasLimit.value)),
                    gasPrice: web3.value.utils.toHex(web3.value.utils.toWei(gasPrice.value.toString(), 'gwei')),
                    chainId: 56,
                    value: web3.value.utils.toHex(web3.value.utils.toWei(buyingBnbAmount.value.toString(), 'ether')),
                    to: presaleContractAddress.value
                  }

                  web3.value.eth.accounts.signTransaction(txParams, accounts.value[counter].privateKey, function (signTransactionErr, signedTx) {
                    if (!signTransactionErr) {
                      web3.value.eth.sendSignedTransaction(signedTx.rawTransaction, function (sendSignedTransactionErr, transactionHash) {
                        if (!sendSignedTransactionErr) {
                          if (counter === accounts.value.length - 1) {
                            if (accounts.value.length === 1) {
                              pushLog({ text: 'Completed first and only transaction. Transaction hash: ' + transactionHash })
                            } else {
                              pushLog({ text: 'Completed last transaction. Transaction hash: ' + transactionHash })
                            }
                          } else {
                            pushLog({ text: 'Completed transaction. Transaction hash: ' + transactionHash })
                            counter += 1
                            return recursiveTransactionsLoop(counter)
                          }
                        } else {
                          executeBuy = true
                          if (sendSignedTransactionErr.message) {
                            pushLog({ text: 'Method web3.eth.sendSignedTransaction failed, most likely signed with low gas limit.. Message: ' + sendSignedTransactionErr.message })
                          } else {
                            pushLog({ text: 'Method web3.eth.sendSignedTransaction failed, most likely signed with low gas limit.. Message: ' + sendSignedTransactionErr.toString() })
                          }

                          if (counter !== accounts.value.length - 1) {
                            counter += 1
                            return recursiveTransactionsLoop(counter)
                          }
                        }
                      })
                    } else {
                      executeBuy = true
                      if (signTransactionErr.message) {
                        pushLog({ text: 'Method web3.eth.accounts.signTransaction failed, most likely signed with low gas limit. Message: ' + signTransactionErr.message })
                      } else {
                        pushLog({ text: 'Method web3.eth.accounts.signTransaction failed, most likely signed with low gas limit. Message: ' + signTransactionErr.toString() })
                      }

                      if (counter !== accounts.value.length - 1) {
                        counter += 1
                        return recursiveTransactionsLoop(counter)
                      }
                    }
                  })
                } else {
                  executeBuy = true
                  if (gasEstimateError.message) {
                    pushLog({ text: 'Presale contract is not active yet, method web3.eth.estimateGas() failed. Error message: ' + gasEstimateError.message })
                  } else {
                    pushLog({ text: 'Presale contract is not active yet, method web3.eth.estimateGas() failed. Error message: ' + gasEstimateError.toString() })
                  }

                  if (counter !== accounts.value.length - 1) {
                    counter += 1
                    return recursiveTransactionsLoop(counter)
                  }
                }
              })
            }
            return recursiveTransactionsLoop(counter)
          }
        }, {})
        job.start()
      }, 0)
    }
    return {
      accounts,
      start,
      addAccount,
      removeAccount,
      presaleContractAddress,
      buyingBnbAmount,
      gasLimit,
      gasPrice
    }
  }
}
</script>
