<template>
  <div class="center examplex">
    <vs-navbar center-collapsed v-model="active">
      <template #left>
        <img src="/logo2.png" alt="">
      </template>
      <vs-navbar-item :active="active == ''" id="">
        Home
      </vs-navbar-item>
      <vs-navbar-item :active="active == 'pinksale'" id="pinksale">
        Pinksale
      </vs-navbar-item>
      <vs-navbar-item :active="active == 'gempad'" id="gempad">
        Gempad
      </vs-navbar-item>
      <template #right>
        <vs-button>Wallet que estás usando {{botAddress}}</vs-button>
      </template>
    </vs-navbar>
  </div>
</template>

<script>
import {
  ref,
  watch
} from '@vue/composition-api'

export default {
  setup (_, { root }) {
    const active = ref('guide')

    const botAddress = ref(process.env.VUE_APP_BOT_ADDRESS)

    watch(() => active.value, (newValue, oldValue) => {
      root.$router.push(`/${newValue}`)
    })

    return {
      active,
      botAddress
    }
  }
}
</script>
