<template>
  <Container>
    <template v-slot:title>
      <span>Aprobar contrato</span>
    </template>
    <vs-input v-model="approveObj.address" placeholder="Address" />
    <vs-input v-model="approveObj.gas" placeholder="Gas" type="number" />
    <vs-input v-model="approveObj.gwei" placeholder="Gwei" type="number" />
    <vs-button
      :loading="loading"
      @click="approveToken"
    >
      APROBAR
    </vs-button>
  </Container>
</template>

<script>
import {
  ref
} from '@vue/composition-api'

import {
  approve
} from '@/helpers/web3.helper'

import {
  useStore
} from '@/helpers/store.helper'

import Container from '@/components/global/Container'

import { routers } from '@/values/routers.value'
import { blockchains } from '@/values/blockchains.value'

export default {
  name: 'approve',
  components: {
    Container
  },
  setup () {
    const approveObj = ref({
      address: '',
      gas: 350000,
      gwei: 5
    })

    const loading = ref(false)

    const { web3ForTxn, pushLog, blockchain, router } = useStore(
      'Global',
      {
        state: ['web3ForTxn', 'blockchain', 'router'],
        mutations: ['pushLog']
      }
    )

    const approveToken = async () => {
      pushLog({ text: 'Esperando aprobación...' })
      const response = await approve({
        web3: web3ForTxn.value,
        tokenAddress: approveObj.value.address,
        gas: approveObj.value.gas,
        gwei: approveObj.value.gwei.toString(),
        routerAddress: routers[blockchain.value][router.value].routerAddress,
        chainId: blockchains[blockchain.value].chainId
      })
      pushLog({ text: response })
    }

    return {
      approveObj,
      approveToken,
      loading
    }
  }
}
</script>
