<template>
  <Container>
    <audio
      ref="notification"
      src="../assets/audio/orb.mp3"
    />
    <div class="cb-log flex center column">
      <vs-switch v-model="muted">
        <template #off>
          <unicon name="volume-up"/>
        </template>
        <template #on>
          <unicon name="volume-mute" fill="#fff"/>
        </template>
      </vs-switch>
      <div
        class="cb-log__l"
        v-for="(log,index) in logs"
        :key="index"
        :style="`color: ${log.color ? log.color : 'black'};`"
      >
        <span>{{log.text}}</span>
      </div>
    </div>
  </Container>
</template>

<script>
import {
  watch,
  ref
} from '@vue/composition-api'

import {
  useStore
} from '@/helpers/store.helper'

import Container from '@/components/global/Container'

import OrbSound from '@/assets/audio/orb.mp3'

export default {
  name: 'log',
  components: {
    Container
  },
  setup () {
    const notification = ref(null)
    const muted = ref(false)
    const { invertedLog: logs } = useStore(
      'Global',
      {
        getters: ['invertedLog']
      }
    )
    watch(() => logs.value[0], async () => {
      if (muted.value) return
      notification.value.currentTime = 0
      notification.value.src = OrbSound
      await notification.value.play()
    })
    return {
      logs,
      notification,
      muted
    }
  }
}
</script>
