<template>
  <Container>
    <template v-slot:title>
      <span>Monitorear precio</span>
    </template>
    <vs-input v-model="token0.address" placeholder="Address 1" />
    <vs-input v-model="token1.address" placeholder="Address 2" />
    <vs-button
      @click="trackPrice"
      :loading="loading"
      :disabled="trackingPair || trackingPrice"
    >
      Go
    </vs-button>
    <vs-button
      danger
      @click="stopTracking"
      :disabled="!(trackingPair || trackingPrice)"
    >
      Stop
    </vs-button>
  </Container>
</template>

<script>
import {
  ref,
  computed
} from '@vue/composition-api'

import {
  getPairContract,
  getTokenProp,
  getTokenPrice,
  balanceOf
} from '@/helpers/web3.helper'

import {
  useStore
} from '@/helpers/store.helper'

import { decimals } from '@/values/decimals.value'
import { blockchains } from '@/values/blockchains.value'
import { routers } from '@/values/routers.value'

import Container from '@/components/global/Container'

export default {
  name: 'pricer',
  components: {
    Container
  },
  setup () {
    const token0 = ref({
      address: '0x156ab3346823B651294766e23e6Cf87254d68962',
      decimals: 0,
      symbol: '',
      name: ''
    })

    const token1 = ref({
      address: '0xe9e7CEA3DedcA5984780Bafc599bD69ADd087D56',
      decimals: 0,
      symbol: '',
      name: ''
    })

    const stopped = ref(false)
    const trackingPair = ref(false)
    const trackingPrice = ref(false)
    const loading = ref(false)
    const mainTokenPrice = ref(0)

    const { web3, pushLog, blockchain, router } = useStore(
      'Global',
      {
        state: ['web3', 'blockchain', 'router'],
        mutations: ['pushLog']
      }
    )

    const { setToken0, setToken1, setDecimals0, setDecimals1, setToken0Balance, setToken0Price, setToken0PriceInUsd } = useStore(
      'Swaper',
      {
        mutations: ['setToken0', 'setToken1', 'setDecimals0', 'setDecimals1', 'setToken0Balance', 'setToken0Price', 'setToken0PriceInUsd']
      }
    )

    const needToBeParsedToUSD = computed(() => {
      return web3.value.utils.toChecksumAddress(token1.value.address) === web3.value.utils.toChecksumAddress(blockchains[blockchain.value].address)
    })

    const loadMainTokenPrice = async () => {
      const resultContract = await getPairContract(
        web3.value,
        blockchains[blockchain.value].address,
        blockchains[blockchain.value].stableAddress,
        routers[blockchain.value][router.value].factoryAddress
      )
      mainTokenPrice.value = await getTokenPrice(
        web3.value,
        resultContract.contract,
        blockchains[blockchain.value].address,
        18,
        blockchains[blockchain.value].stableDecimals,
        blockchains[blockchain.value].inverted
      )
    }

    const stopTracking = () => {
      trackingPair.value = false
      trackingPrice.value = false
      stopped.value = true
      pushLog({ text: 'Detenido!' })
    }

    const toUSD = (price) => {
      if (needToBeParsedToUSD.value) {
        return price * mainTokenPrice.value
      }
      return price
    }

    const trackPrice = async () => {
      pushLog({ text: 'Comenzando!' })
      loading.value = true
      token0.value.address = web3.value.utils.toChecksumAddress(token0.value.address)
      token1.value.address = web3.value.utils.toChecksumAddress(token1.value.address)
      if (token1.value.address === blockchains[blockchain.value].address) {
        await loadMainTokenPrice()
      }
      setToken0(token0.value.address)
      setToken1(token1.value.address)
      token0.value.decimals = await getTokenProp(web3.value, token0.value.address, 'decimals')
      token1.value.decimals = await getTokenProp(web3.value, token1.value.address, 'decimals')
      setDecimals0(token0.value.decimals)
      setDecimals1(token1.value.decimals)
      token0.value.symbol = await getTokenProp(web3.value, token0.value.address, 'symbol')
      token1.value.symbol = await getTokenProp(web3.value, token1.value.address, 'symbol')
      let pairContract = null
      loading.value = false
      trackingPair.value = true
      let lastLog = ''
      let pairLog = ''
      while (trackingPair.value) {
        const pairContractResult = await getPairContract(
          web3.value,
          token0.value.address,
          token1.value.address,
          routers[blockchain.value][router.value].factoryAddress
        )
        pairContract = pairContractResult.contract
        trackingPair.value = !pairContractResult.state
        if (stopped.value) {
          trackingPair.value = false
        } else if (pairContractResult.state) {
          pairLog = 'Par encontrado!!!!'
        } else if (trackingPair.value) {
          pairLog = 'El par no aparece...'
        }
        if (pairLog !== lastLog) {
          lastLog = pairLog
          pushLog({ text: lastLog })
        }
      }
      // cargamos el balance de los token que se esta lanzando
      setToken0Balance(web3.value.utils.fromWei(await balanceOf(web3.value, token0.value.address), decimals[token0.value.decimals]))

      trackingPrice.value = true
      let price = 0
      let prePrice = 0
      let liquidityLog = ''
      let differencePrice = 0
      lastLog = ''
      while (trackingPrice.value) {
        price = await getTokenPrice(
          web3.value,
          pairContract,
          token0.value.address,
          token0.value.decimals,
          token1.value.decimals,
          false
        )
        if (price === 0 && trackingPrice.value) {
          liquidityLog = 'Aun no hay liquidez :('
          if (lastLog !== liquidityLog) {
            lastLog = liquidityLog
            pushLog({ text: liquidityLog })
          }
        } else if (trackingPrice.value) {
          if (prePrice !== price) {
            setToken0Price(price)
            const token0InUsd = toUSD(price)
            setToken0PriceInUsd(token0InUsd)
            differencePrice = price - prePrice
            prePrice = price
            pushLog({
              text: token0InUsd,
              color: differencePrice > 0 ? '#27836C' : '#EF5350'
            })
          }
        }
      }
      stopped.value = false
    }

    return {
      trackPrice,
      token0,
      token1,
      stopTracking,
      trackingPair,
      trackingPrice,
      loading,
      mainTokenPrice
    }
  }
}
</script>
