<template>
  <Container>
    <audio
      ref="notification"
      src="../assets/audio/buysell.mp3"
    />
    <vs-button
      @click="getBalance"
    >
      UPDATE BALANCE (TEMP)
    </vs-button>
    <template v-slot:title>
      <span>{{title}} cryptos</span>
    </template>
    <vs-input v-model="tokenOrder[0].value" :placeholder="`Address que usarás para ${title.toLowerCase()}`" disabled/>
    <div class="flex">
      <vs-input v-model="swap.amount" :placeholder="`Monto que usarás para ${title.toLowerCase()}`" :disabled="swap.all"/>
      <vs-input v-if="swap.exact" v-model="swap.amountToBuy" :placeholder="`Monto que exacto que quieres recibir`"/>
      <div v-if="!buying" class="w-20">
        <vs-button
          @click="setMaxBalance"
        >
          MAX
        </vs-button>
      </div>
    </div>
    <vs-input v-model="tokenOrder[1].value" placeholder="Address que recibirás" disabled/>
    <div class="w-100">
      <hr>
    </div>
    <vs-input v-model="swap.gas" placeholder="Gas" type="number" />
    <vs-input v-model="swap.gwei" placeholder="Gwei" />

    <vs-button
      @click="go"
      :loading="loading"
    >
      {{title}}
    </vs-button>

    <div class="w-100">
      <hr>
    </div>

    <div v-if="buying" class="flex column center">
      <vs-switch v-model="txnSniper" :disabled="loading">
        <template #off>
            Txn Sniping OFF
        </template>
        <template #on>
            Txn Sniping ON
        </template>
      </vs-switch>
      <img v-if="loading && txnSniper" src="https://i.makeagif.com/media/10-22-2018/jVULyV.gif" alt="">
    </div>

    <div v-if="txnSniper" class="flex column center">
      <vs-input v-model="swap.ownerAddress" placeholder="Owner Address" />
      <vs-input v-model="swap.method" placeholder="Function" />
      <div class="w-100">
        <hr>
      </div>
    </div>

    <div v-if="buying" class="flex column center">
      <vs-switch v-model="liquiditySniper" :disabled="loading">
        <template #off>
            Liq. Sniping OFF
        </template>
        <template #on>
            Liq. Sniping ON
        </template>
      </vs-switch>
      <img v-if="loading && liquiditySniper" src="https://i.makeagif.com/media/10-22-2018/jVULyV.gif" alt="">
    </div>

    <div v-if="buying" class="flex column center">
      <vs-switch v-model="swap.exact">
        <template #off>
            Exact Tokens OFF
        </template>
        <template #on>
            Exact Tokens ON
        </template>
      </vs-switch>
    </div>

    <div v-if="!buying" class="flex column center">
      <vs-switch v-model="swap.supportingFee" :disabled="loading">
        <template #off>
            Sin Fee
        </template>
        <template #on>
            Con Fee
        </template>
      </vs-switch>
      <vs-switch v-model="swap.autoSell" :disabled="loading">
        <template #off>
            Auto-sell OFF
        </template>
        <template #on>
            Auto-sell ON
        </template>
      </vs-switch>
      <vs-input v-show="swap.autoSell" v-model="swap.autoSellPrice" type="number" />
    </div>
    <div class="flex column center">
      <vs-switch v-model="limitEnabled" :disabled="loading">
        <template #off>
            Limit OFF
        </template>
        <template #on>
            Limit ON
        </template>
      </vs-switch>
      <vs-input v-if="limitEnabled" v-model="swap.limit" placeholder="Configurar limite" type="number" />
    </div>
  </Container>
</template>

<script>
import {
  ref,
  computed,
  watch,
  onMounted
} from '@vue/composition-api'

import InputDataDecoder from 'ethereum-input-data-decoder'

import {
  useStore
} from '@/helpers/store.helper'

import {
  swapExactETHForTokens,
  swapExactTokensForTokens,
  swapExactTokensForETH,
  balanceOf,
  swapTokensForExactTokens
} from '@/helpers/web3.helper'

import { decimals } from '@/values/decimals.value'
import { routers } from '@/values/routers.value'
import { blockchains } from '@/values/blockchains.value'
import { abis } from '@/values/abis.value'

import Container from '@/components/global/Container'

import MoneySound from '@/assets/audio/buysell.mp3'

export default {
  name: 'swaper',
  props: {
    title: {
      type: String,
      default: ''
    }
  },
  components: {
    Container
  },
  setup (props) {
    const swap = ref({
      amount: '',
      amountToBuy: '',
      gas: 350000,
      gwei: 5,
      // all: false,
      supportingFee: false,
      autoSell: false,
      autoSellPrice: 10000000,
      ownerAddress: '0xf189f95c6a3df01164121b74334a6d3242c3876b',
      // method: 'addLiquidity', // swapExactETHForTokens
      method: 'swapExactETHForTokens',
      exact: false,
      launchBlock: 0,
      swapAtBlockFromLaunch: 0,
      limit: ''
    })

    // const currentBlock = ref(1)

    const liquiditySniper = ref(false)
    const txnSniper = ref(false)
    const loading = ref(false)
    const limitEnabled = ref(false)
    const notification = ref(null)

    const { pushLog, web3, web3ForTxn, web3Wss, blockchain, router } = useStore(
      'Global',
      {
        state: ['web3', 'web3ForTxn', 'web3Wss', 'blockchain', 'router'],
        mutations: ['pushLog']
      }
    )

    const { token0, token1, decimals0, decimals1, token0Balance, setToken0Balance, token0Price, token0Usd, token0PriceInUsd } = useStore(
      'Swaper',
      {
        state: ['token0', 'token1', 'decimals0', 'decimals1', 'token0Balance', 'token0Price', 'token0PriceInUsd'],
        mutations: ['setToken0Balance'],
        getters: ['token0Usd']
      }
    )

    const buying = computed(() => {
      return props.title === 'Comprar'
    })

    const tokenOrder = computed(() => {
      if (buying.value) {
        return [token1, token0]
      } else {
        return [token0, token1]
      }
    })

    const getBalance = async () => {
      const balance = await balanceOf(
        web3.value,
        token0.value
      )
      setToken0Balance(web3.value.utils.fromWei(balance, decimals[decimals0.value]))
    }

    const resetLimit = () => {
      if (buying.value) {
        swap.value.limit = 0
      } else {
        swap.value.limit = 100000000000000
      }
    }

    const go = async () => {
      loading.value = true
      pushLog({ text: buying.value ? 'Comprando...' : 'Vendiendo...' })
      const params = {
        web3: web3ForTxn.value,
        amount: swap.value.amount.toString(),
        amountToBuy: swap.value.amountToBuy.toString(),
        gas: swap.value.gas,
        gwei: swap.value.gwei.toString(),
        routerAddress: routers[blockchain.value][router.value].routerAddress,
        supportingFee: swap.value.supportingFee,
        blockchain: blockchain.value,
        chainId: blockchains[blockchain.value].chainId
      }
      if (buying.value) {
        params.tokenToBuy = token0.value
        params.tokenToSpend = token1.value
        params.decimalsTokenToSpend = decimals1.value
        params.decimalsTokenToBuy = decimals0.value
      } else {
        params.tokenToBuy = token1.value
        params.tokenToSpend = token0.value
        params.decimalsTokenToSpend = decimals0.value
      }
      let response = ''

      const mainToken = blockchains[blockchain.value].address
      if (buying.value) {
        if (mainToken === params.tokenToSpend) {
          response = await swapExactETHForTokens(params)
        } else {
          if (swap.value.exact) {
            response = await swapTokensForExactTokens(params)
          } else {
            response = await swapExactTokensForTokens(params)
          }
        }
        // aca falta el tercero que seria swapExactTokensForETH
        // pero no tiene sentido comprar ETH en el sniper
      } else {
        if (mainToken === params.tokenToBuy) {
          response = await swapExactTokensForETH(params)
        } else {
          response = await swapExactTokensForTokens(params)
        }
        // aca falta el tercero que seria swapExactETHForTokens
        // pero no tiene sentido vender ETH en el sniper
      }
      loading.value = false
      liquiditySniper.value = false
      txnSniper.value = false
      limitEnabled.value = false
      swap.value.autoSell = false
      resetLimit()
      pushLog({ text: response })
      setTimeout(() => {
        getBalance(web3.value, token0.value)
      }, 3000)
      notification.value.currentTime = 0
      notification.value.src = MoneySound
      await notification.value.play()
      // snipe.value.completed = true
    }

    const setMaxBalance = () => {
      swap.value.amount = token0Balance.value
    }

    watch(() => token0Balance.value, (newValue, oldValue) => {
      if (swap.value.all) {
        swap.value.amount = token0Balance.value
      }
    })

    // watch(() => swap.value.all, (newValue, oldValue) => {
    //   if (!newValue) return
    //   if (token0Balance.value === '0') {
    //     swap.value.amount = '0'
    //     return
    //   }
    //   swap.value.amount = (token0Balance.value).toString()
    // })

    watch(() => token0Price.value, () => {
      if (liquiditySniper.value && !loading.value) {
        go()
      }
      // this is to do buys and sells with limits
      if (limitEnabled.value && !loading.value) {
        if (buying.value && parseFloat(swap.value.limit) >= token0PriceInUsd.value) {
          go()
        } else if (!buying.value && parseFloat(swap.value.limit) <= token0PriceInUsd.value) {
          go()
        }
      }
    })

    watch(() => token0Usd.value, (newValue, oldValue) => {
      if (swap.value.autoSell && newValue >= swap.value.autoSellPrice && !loading.value) {
        swap.value.amount = (token0Balance.value).toString()
        go()
      }
    })

    watch(() => txnSniper.value, (newValue, oldValue) => {
      if (newValue) {
        pushLog({ text: 'Turning on the subscription of pendingTransactions' })
        const decoder = new InputDataDecoder(abis.router[blockchain.value])
        const subscription = web3Wss.value.eth.subscribe('pendingTransactions', (err, res) => {
          if (err) console.error(err)
        })
        subscription.on('data', (txHash) => {
          setTimeout(async () => {
            try {
              const txn = await web3Wss.value.eth.getTransaction(txHash)
              // console.log('txn:::', txn)
              if (!txn) return
              if (txn.from.toLowerCase() === swap.value.ownerAddress.toLowerCase()) {
                pushLog({ text: '========================================' })
                pushLog({ text: 'The owner has executed a transaction' })
                const decodedInput = decoder.decodeData(txn.input)
                if (!decodedInput) return
                pushLog({ text: decodedInput.method })
                const gasUsed = web3.value.utils.fromWei(txn.gasPrice, 'gwei')
                pushLog({ text: `gas used: ${gasUsed}` })
                if (decodedInput.method === swap.value.method) {
                  swap.value.gwei = gasUsed
                  go()
                }
                pushLog({ text: '========================================' })
              }
            } catch (err) {
              console.error(err)
            }
          })
        })
      } else {
        pushLog({ text: 'Turning off the subscriptions' })
        web3Wss.value.eth.clearSubscriptions()
      }
    })
    onMounted(async () => {
      resetLimit()
      // while (currentBlock.value) {
      //   const response = await web3ForTxn.value.eth.getBlockNumber()
      //   console.log('response:::', response)
      // }
    })

    return {
      swap,
      go,
      loading,
      token0,
      token1,
      buying,
      tokenOrder,
      liquiditySniper,
      txnSniper,
      setMaxBalance,
      limitEnabled,
      getBalance,
      notification
      // currentBlock
    }
  }
}
</script>
