@keyframes shadowExpand {
  from {
    box-shadow: 0px 0px 0px 0px rgba(0, 158, 201, 0.6);
  }
  to {
    box-shadow: 0px 0px 0px 6px rgba(0, 158, 201, 0);
  }
}

@keyframes square {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-600px) rotate(600deg);
  }
}

@keyframes wave-pulse-1 {
  0% {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3);
  }
  100% {
    box-shadow: 0px 0px 0px 40px rgba(0, 158, 201, 0);
  }
}

@keyframes gravity-low {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes bounce {
  from,
  20%,
  53%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -10px, 0) scaleY(1.1);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -5px, 0) scaleY(1.05);
  }

  80% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0) scaleY(0.95);
  }

  90% {
    transform: translate3d(0, -4px, 0) scaleY(1.02);
  }
}

.bounce {
  animation-name: bounce;
  transform-origin: center bottom;
  animation-duration: .7s;
}

.push-left-enter-active, .push-left-leave-active {
  transition: all .5s;
}
.push-left-enter, .push-left-leave-to /* .fade-2-leave-active below version 2.1.8 */ {
  transform: translateX(100px);
  opacity: 0;
}

.fade-2-enter-active, .fade-2-leave-active {
  transition: .6s;
  position: absolute !important;
  width: 100%;
  top: 0;
  left: 0;
}
.fade-2-enter, .fade-2-leave-to /* .fade-2-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.fade-grow-enter-active, .fade-grow-leave-active {
  transition: .3s;
  position: absolute !important;
  width: 100%;
  top: 0;
  left: 0;

}
.fade-grow-enter, .fade-grow-leave-to /* .fade-grow-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(20px);
}


.next-enter-active,
.next-leave-active,
.prev-enter-active,
.prev-leave-active,
.next-up-enter-active,
.next-up-leave-active,
.prev-up-enter-active,
.prev-up-leave-active {
  transition: transform 450ms cubic-bezier(1, 0, 0.5, 1), opacity 450ms cubic-bezier(1, 0, 0.5, 1);
  backface-visibility: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.next-enter {
  transform: translate3d(100%, 0, 0);
}
.next-leave-active {
  transform: translate3d(-100%, 0, 0);
  opacity: 0;
}

.next-up-enter {
  transform: translateY(100%);
}
.next-up-leave-active {
  transform: translateY(-100%);
  opacity: 0;
}

.low-up {
  transition: 3s;
}
.low-up-enter {
  transform: translateY(0px);
}
.low-up-leave-active {
  transform: translateY(-10%);
  opacity: 0;
}

.prev-enter {
  transform: translate3d(-100%, 0, 0);
}
.prev-leave-active {
  transform: translate3d(100%, 0, 0);
  opacity: 0;
}
.prev-up-enter {
  transform: translateY(-100%);
}
.prev-up-leave-active {
  transform: translateY(100%);
  opacity: 0;
}

.prev-up-2-enter-active,
.prev-up-2-leave-active {
  transition: .3s;
}
.prev-up-2-enter {
  transform: translateY(100px);
}
.prev-up-2-leave-active {
  transform: translateY(-100px);
  opacity: 0;
}

.push.down {
  transition: .3s;
  transform: translateY(100px);
}

.push-up {
  transition: .3s;
  transform: translateY(-100%);
}

.grow-enter-active {
  transition: .3s;
  opacity: 1;
  transform: scale(1);
}
.grow-enter {
  opacity: 0;
  transform: scale(.9);
}

.grow-leave-active {
  transition: .3s;
  opacity: 0;
  transform: scale(.9);
}
.grow-leave {
  opacity: 1;
  transform: scale(1);
}

.flip-list-move {
  transition: transform .5s;
}


