body {
  font-size: 0.9rem;
}
html, #app, body {
  // height: 100%;
  background-color: #F4F7F8;
}
* {
  font-family: 'Montserrat Alternates', sans-serif;
  // color: #333;
}
// a {
//   color: #333 !important;
// }
// img {
//   width: 100%;
// }
// iframe {
//   height: 100% !important;
// }
// ul {
//   list-style: none;
//   padding: 0;
// }
.padding-page {
  padding: 50px 60px;
}
hr {
  border-bottom: 1px solid black;
}
div {
  box-sizing: border-box;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.flex {
  display: flex;
  gap: 5px;
  &.center {
    align-items: center !important;
  }
  &.middle {
    justify-content: center
  }
  &.end {
    justify-content: flex-end;
  }
  &.s-b {
    justify-content: space-between;
  }
  &.column {
    flex-direction: column;
  }
}
// .page {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   z-index: 1;
//   background-color: #fff;
// }
// .absolute {
//   position: absolute;
//   top: 0
// }

.h-100 {
  height: 100%;
}
.w-100 {
  width: 100%;
}
.w-50 {
  width: 50%;
}
.w-40 {
  width: 40%;
}
.w-25 {
  width: 25%;
}
.w-20 {
  width: 20%;
}
.op-3 {
  opacity: .3;
}
.p-20 {
  padding: 20px !important;
}
.p-r-30 {
  padding-right: 30px;
}
.p-r-20 {
  padding-right: 20px;
}
.p-r-10 {
  padding-right: 10px;
}
.p-l-5 {
  padding-left: 5px;
}
.p-l-20 {
  padding-left: 20px;
}
.p-l-10 {
  padding-left: 10px;
}
.p-t-10 {
  padding-top: 10px;
}
.p-t-70 {
  padding-top: 70px;
}
.p-t-90 {
  padding-top: 90px;
}
.p-t-5 {
  padding-top: 5px;
}
.p-t-20 {
  padding-top: 20px;
}
.p-b-20 {
  padding-bottom: 20px;
}
.p-b-10 {
  padding-bottom: 10px;
}
// .m-0 {
//   margin: 0;
// }
// .m-r-20 {
//   margin-right: 20px;
// }
// .m-t-0 {
//   margin-top: 0;
// }
// .m-t-20 {
//   margin-top: 20px;
// }
// .m-t-10 {
//   margin-top: 10px;
// }
// .m-b-20 {
//   margin-bottom: 20px;
// }
// .m-b-0 {
//   margin-bottom: 0;
// }
// .relative {
//   position: relative;
// }
// .text-truncate {
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   display: block;
// }

// .decoration-none {
//   text-decoration: none;
// }
// .i-b {
//   display: inline-block;
// }
// .d-b {
//   display: block;
// }
// .d-none {
//   display: none;
// }

// :root {
//   --vs-background: 255, 255, 255;
//   --vs-gray-2: 244, 244, 244;
// }
// .c-white {
//   color: #fff;
//   > * {
//     color: #fff;
//   }
// }
// .emoji {
//   max-width: 20px;
// }
// .o-hidden {
//   overflow: hidden;
// }
// .o-auto {
//   overflow: auto;
// }
// #tippy-1 {
//   left: 70px !important;
//   top: 35px !important;
// }
// *::-webkit-scrollbar {
//   width: 5px;
//   height: 5px;
// }
// *::-webkit-scrollbar-track {
//   background: #ddd;
//   border-radius: 5px;
// }
// *::-webkit-scrollbar-thumb {
//   background-color: #696969;
//   border-radius: 5px;
// }

// .tippy-active {
//   &:focus {
//     outline: none;
//   }
// }
// .front, .back {
//   width: 100%;
// }
// .br-30 {
//   border-radius: 30px !important;
// }
// .pointer {
//   cursor: pointer;
// }
// textarea {
//   resize: none;
// }
// .transition {
//   transition: .2s;
// }
// [disabled] {
//   opacity: .8;
//   cursor: not-allowed;
// }
// .option-1 {
//   width: 280px;
// }
// .f-g-1 {
//   flex-grow: 1;
// }
// @media(max-width: 600px) {
//   .flex {
//     &.mobile-column {
//       flex-direction: column;
//     }
//   }
//   .xs-no-p-r {
//     padding-right: 0;
//   }
//   .xs-no-offset {
//     margin-left: 0 !important;
//   }
// }
// :focus {
//   outline: none;
// }

// @media(max-width: 1000px) {
//   .sm-no-p-t {
//     padding-top: 0;
//   }
// }
