<template>
  <div id="app">
    <Sidevar style="padding-bottom:50px;"/>
    <router-view/>
  </div>
</template>

<script>
import {
  onMounted
} from '@vue/composition-api'
import Web3 from 'web3'

import {
  useStore
} from '@/helpers/store.helper'

import Sidevar from '@/components/home/Sidevar.vue'

import { rpcs } from '@/values/rpcs.value'

export default {
  name: 'App',
  components: {
    Sidevar
  },
  setup () {
    const wssOptions = {
      timeout: 30000,
      clientConfig: {
        maxReceivedFrameSize: 100000000,
        maxReceivedMessageSize: 100000000
      },
      reconnect: {
        auto: true,
        delay: 5000,
        maxAttempts: 15,
        onTimeout: false
      }
    }
    const { setWeb3, setWeb3ForTxn, setWeb3Wss, blockchain } = useStore(
      'Global',
      {
        state: ['blockchain'],
        mutations: ['setWeb3', 'setWeb3ForTxn', 'setWeb3Wss']
      }
    )
    onMounted(() => {
      setWeb3(new Web3(rpcs[blockchain.value].mainnet))
      setWeb3ForTxn(new Web3(rpcs[blockchain.value].moralis))
      setWeb3Wss(new Web3(new Web3.providers.WebsocketProvider(rpcs[blockchain.value].wss, wssOptions)))
    })
  }
}
</script>
