$ccu-color-red: #C40150;
$ccu-color-primary: #0095D3;
$ccu-color-warning: #F9BA03;
$ccu-color-success: #65B025;
$ccu-color-success-2: #034D2E;
$primary-color: #009ec9;
$vs-primary: rgb(25, 91, 255);
$vs-warn: rgb(255, 186, 0);
$vs-danger: rgb(255,71,87);
$vs-success: rgb(70,201,58);
$vs-dark: rgb(30,30,30);
$vs-light: rgb(244,247,248);
$vs-color: rgb(17,18,20);
$vs-facebook: rgb(59, 89, 153);
$vs-twitter: rgb(29, 161, 242);
$vs-youtube: rgb(255, 0, 0);
$vs-pinterest: rgb(189, 8, 28);
$vs-linkedin: rgb(0, 119, 181);
$vs-snapchat: rgb(255, 252, 0);
$vs-whatsapp: rgb(37, 211, 102);
$vs-tumblr: rgb(54, 70, 93);
$vs-reddit: rgb(255, 69, 0);
$vs-spotify: rgb(30, 215, 96);
$vs-amazon: rgb(255, 153, 0);
$vs-medium: rgb(2, 184, 117);
$vs-vimeo: rgb(26, 183, 234);
$vs-skype: rgb(0, 175, 240);
$vs-dribbble: rgb(234, 76, 137);
$vs-slack: rgb(74, 21, 75);
$vs-yahoo: rgb(67, 2, 151);
$vs-twitch: rgb(100, 65, 164);
$vs-discord: rgb(114, 137, 218);
$vs-telegram: rgb(0, 136, 204);
$vs-google-plus: rgb(219, 68, 55);
$vs-messenger: rgb(0, 132, 255);
$vs-background: rgb(255, 255, 255);
$vs-text: rgb(44, 62, 80);
$vs-gray-1: rgb(249, 252, 253);
$vs-gray-2: rgb(244, 247, 248);
$vs-gray-3: rgb(240, 243, 244);
$vs-gray-4: rgb(230, 233, 234);

$vs-shadow-opacity: 0.05;
$vs-radius: 20px;
$vs-zindex-1: 100000;
$vs-zindex-2: 99000;
$vs-zindex-3: 98000;
$vs-zindex-4: 97000;
$vs-background-opacity: .2;
