<template>
  <div class="cb-container">
    <div class="cb-container__header text-center p-b-10">
      <slot name="title"></slot>
    </div>
    <div :class="`flex ${direction}`">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    direction: {
      type: String,
      default: 'column'
    }
  },
  setup () {
    return {}
  }
}
</script>
